body {
  background-color: #917314a4;
  background-image: url(/images/blue-gold.avif);
  font-family: "Oswald", sans-serif;
  
}

section {
  position:relative;
  background-color: #573e12;
  max-width: 900px;
margin: 50px auto;
  border-radius: 16px;
  padding: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:100%;
 width: 100%;
}



.design-forecast {
 
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  border-radius: 16px;
  padding: 1rem;
  margin: 0;
  width: 100%;
}

 .temp-details {

display: flex;
  justify-content: center;
  gap: 10px;
 
}

.infor {

  color: #dabd88;
  font-size: 15px;
  

   display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

a {
  color: #c7b0a9;
   font-size: clamp(10px, 2vw, 13px);
}
.search-button {
  background: #866836;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}
.search-button:hover {
 background:  #ad9b5f;
   color: #573e12 ;
}

.text-input {
  background-color: #f0d5a3;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 17px;
  padding: 15px 15px;
}
form {
  display: flex;
}
h1 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #e2d4a6;
 
}


.temp-details {
   font-size: clamp(30px, 6vw, 50px);
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
h2 {
   font-size: clamp(24px, 6vw, 50px);
  line-height: 40px;
  font-weight: bold;
  color: #dabd88;
}

.city-icon {
   display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.icon {
  width: 90px;
  font-weight: bold;
}

.value {
  font-size: clamp(30px, 6vw, 50px);
  line-height: 70px;
  font-weight: bold;
 color: #dabd88;
}
.celsius {
  margin-top: 6px;
 font-size: clamp(20px, 6vw, 10px);
  color: #dabd88;
}


.humidity {
  color: #dd930a;
}
.wind {
 color: #dd930a;
}
.weather-app-temperature {
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
}

.weatehr-app-unit {
  margin-top: 6px;
  font-size: 20px;
}

.weather-forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 5px; 
  border-radius: 10px;
  padding: 15px;
  width: 100%;
}


.weather-forecast-date {
  color:#f3ece9 ;
  font-size: 9px;
  line-height: 10px;
  margin-bottom: 10px;
  background-color: rgba(9, 4, 80, 0.979);
  padding: 1rem;
  border-radius: 10px;
}
.day {
  font-size: 20px;
  color: #b18431;
}
.weather-forecast-icon {
  width: 30px;
  height: 30px;
}

hr {
 background-color: #b18431 ;
}

footer {
  margin: bottom-space;
  border-top: 1px solid #698474;
  padding: 10px 0 0 0;
  text-align: center;
   font-size: clamp(10px, 2vw, 13px);
  color: #a4a3a891;
}

@media (max-width :600px)  {

  form {
    flex-direction: column;
    gap: 8px;
  }

  .text-input,
  .search-button {
    width: 100%;
  }

  .design-forecast {
  
  box-shadow: 0 20px 35px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  padding: 35px 20px;
 
}


.search-button {
 
  padding: 8px 10px;
  
  font-size: 10px;
  margin-left: 3px;
  border-radius: 4px;
 
}
.text-input {
  
  border-radius: 3px;
  width: 60%;
  font-size: 10px;
  padding: 10px 10px;
}

h1 {
  
  font-size: 15px;
 
  margin-top: 6px;
  
}



h2 {
  font-size: 20px;
  line-height: 30px;
 
}



p {
  
  font-size: 8px;
  margin-left: 10px;
}

.icon {
  width: 50px;
}

  .value {
  font-size: 30px;
  line-height: 50px;
  
}

  .celsius {
  margin-top: 3px;
  margin-right: 5px;
  font-size: 6px;
}

  .weather-app-temperature {
  font-size: 30px;
  line-height: 30px;
 
}

  .weatehr-app-unit {
  margin-top: 3px;
  font-size: 15px;
}

  .weather-forecast {
  
  margin-left: 15px;
}

  .weather-forecast-date {
 
  font-size: 8px;
  line-height: 15px;
  margin-bottom: 5px;
}

  .day {
  font-size: 10px;
  
}

  .weather-forecast-icon {
  width: 30px;
  height: 30px;
}

footer {
 
  border-top: 1px solid #698474;
  padding: 7px 0 0 0;
  font-size: 7px;
 
}

}

@media (max-width:300px) {



 .value {
  font-size: 30px;
  line-height: 30px;
  
}


.icon {
  width: 15px;
}

}